@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');

table{
    max-width: 80vw;
    margin: auto;
    font-family: 'Lora', serif;
    border: 1px solid black;
    background-color: white;
    tr:nth-child(even) {
        background-color: #9370DB;
    }
    thead th:nth-child(1){
        width: 5vw;
    }
    thead th:nth-child(2){
        width: 10vw;
    }
    thead th:nth-child(3){
        width: 10vw;
    }
    thead th:nth-child(4){
        width: 30vw;
    }
}
